<%# Edited 4/19/2020 by Ern Chi Khoo: Added cancel to redirect back to landlord page %>
<%# Edited 4/20/2020 by Ern Chi Khoo: Replaced id %>
<%# Edited 4/22/2020 by Ern Chi Khoo: CSS changes %>
<h2>Add New Property</h2>
<hr>

<%= render 'form', property: @property %>

<%= link_to 'Cancel', {controller: "landlords", action: "show", id: current_landlord}, {:class => "btn btn-primary btn-secondary stu_button"} %>