<!-- Edited by Lang Xu on 4/22/20: added bootstrap styling-->
<h1 class="h3 mb-3 font-weight-normal text-center" style= "padding-top:20px;">New Landlord</h1>

<%= render 'form', landlord: @landlord %>

<%#= link_to 'Back', landlords_path %>
