<!-- Edited by Daniel Lim on 4/20/20: added @properties to the render and added if statement-->


<h1>Editing Sublet Post</h1>

<%= render 'form', sublet_post: @sublet_post, property: @properties, edit: @edit %>

<!--	<%#= link_to 'Show', @sublet_post %> |-->
<%#= link_to 'Back', sublet_posts_path %>
